@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes typewriter {
    0% { width: 0; }
    20% { width: 25%; }
    40% { width: 50%; }
    60% { width: 75%; }
    80% { width: 90%; }
    100% { width: 100%; }
  }

  @keyframes blink {
    50% { border-color: transparent; }
  }

  @keyframes shimmerOutline {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  
  .grid-item {
    background: linear-gradient(to right, #1e3a8a, #1e40af, #1e3a8a); /* Original gradient */
    padding: 8px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
  }
  
}